<?xml version="1.0"?>
<config>
    <modules>
        <Zenc_EmailLogger>
            <version>0.1.0</version>
        </Zenc_EmailLogger>
    </modules>
    <global>
        <models>
            <zenc_emaillogger>
                <class>Zenc_EmailLogger_Model</class>
                <resourceModel>zenc_emaillogger_resource</resourceModel>
            </zenc_emaillogger>
            <zenc_emaillogger_resource>
                <class>Zenc_EmailLogger_Model_Resource</class>
                <entities>
                    <log>
                        <table>zenc_emaillogger_log</table>
                    </log>
                </entities>
            </zenc_emaillogger_resource>
            <core>
                <rewrite>
                    <email_template>Zenc_EmailLogger_Model_Core_Email_Template</email_template>
                    <email_queue>Zenc_EmailLogger_Model_Email_Queue</email_queue>
                </rewrite>
            </core>
        </models>
        <helpers>
            <zenc_emaillogger>
                <class>Zenc_EmailLogger_Helper</class>
            </zenc_emaillogger>
        </helpers>
        <blocks>
            <zenc_emaillogger>
                <class>Zenc_EmailLogger_Block</class>
            </zenc_emaillogger>
        </blocks>
        <resources>
            <zenc_emaillogger_setup>
                <setup>
                    <module>Zenc_EmailLogger</module>
                </setup>
            </zenc_emaillogger_setup>
        </resources>
        <events>
            <zenc_emaillogger_send_mail>
                <observers>
                    <zenc_emaillogger_observer>
                        <class>Zenc_EmailLogger_Model_Observer</class>
                        <method>setAdditionalLogData</method>
                    </zenc_emaillogger_observer>
                </observers>
            </zenc_emaillogger_send_mail>
        </events>
    </global>
    <frontend>
        <routers>
            <zenc_emaillogger>
                <use>standard</use>
                <args>
                    <module>Zenc_EmailLogger</module>
                    <frontName>emails</frontName>
                </args>
            </zenc_emaillogger>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Zenc_EmailLogger after="Mage_Adminhtml">Zenc_EmailLogger_Adminhtml</Zenc_EmailLogger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <zenc_emaillogger>
                    <file>zenc_emaillogger/zenc_emaillogger.xml</file>
                </zenc_emaillogger>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dev>
            <email_logger>
                <enabled>1</enabled>
                <enable_passthru>0</enable_passthru>
            </email_logger>
        </dev>
    </default>
</config>
